*.pyc
__pycache__
.idea
*.jpg
*.bat
*.ps
venv
vendor
icons
config
cmder_mini
bin
Cmder.exe
scrambler
PCBPlugin5
pypy
old results
corpora
*_log*
*.png
*.eps
!custom_label.png
!applogo.png
!compress.png
!expand.png
!first_arrow.png
!gloss.png
!left_arrow.png
!no_info.png
!phonology.png
!right_arrow.png
!widen.png
!squeeze.png
!custom_feature.png
!DP.png